*{
    font-family: 'Syne', sans-serif;
}
body{
    padding: 20px;
}

h2{
    font-size: 30px;
    font-style: bold;
}
.banner{
     margin: 0px 20px 0px 20px;
     color: #000000
}
.topbar{
    width: auto;
    display: flex;
    align-items: center;
    background-color: #ebf3ff;
    padding: 10px;
    border: 2px solid black;
    border-radius: 12px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}


.nav-links{
        display: flex;
        gap: 20px;
        /* margin-right: 40px; */
        font-size: 20px;
        text-decoration: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    background-color: white;
    padding: 8px 19px;
    border: 2px solid #434343;
    border-radius: 15px;
    /* font-weight: bold; */

}

.image-placeholder{
    border: 2px solid black;
    border-radius: 16px;
}

.image-card{
    width: 100%; 
  height: 200px;        
  object-fit: cover;    
  display: block;
  border-radius: 14px;
}
.card-grid{
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    margin-bottom: 40px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;

}

.reviews{
    border: 2px solid rgb(100, 100, 100);
    border-radius: 16px;
    padding: 40px 20px;
}

@media (min-width: 768px){
    .card-grid{
        grid-template-columns: repeat(3 , 1fr); 
    }
}

/* @media (max-width: 320px){
    .nav-links a{
        color: black;
        text-decoration: none;
        font-size: 15px;
        background-color: white;
        padding: 8px 9px;
        border: 2px solid #434343;
        border-radius: 12px;
    }
} */
@media (max-width: 768px){
    .card-grid{
        grid-template-columns: repeat(2 , 1fr); 
    }

}
@media (max-width: 425px){
    .card-grid{
        grid-template-columns: repeat(1 , 1fr); 
    }

    .nav-links a{
        color: black;
        text-decoration: none;
        font-size: 20px;
        background-color: white;
        padding: 8px 19px;
        border: 2px solid #434343;
        border-radius: 12px;
    }
}

@media (max-width: 320px){
    .nav-links a{
        color: black;
        text-decoration: none;
        font-size: 15px;
        background-color: white;
        padding: 8px 9px;
        border: 2px solid #434343;
        border-radius: 12px;
}
}

@media (min-width: 375px){
    .nav-links a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    background-color: white;
    padding: 8px 10px;
    border: 2px solid #434343;
    border-radius: 12px;
}
}
